# gitignore rules
# autotools results
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/autotools
/config.log
/config.status
/configure

# built files
/instance-p2v-target/common.sh
/instance-p2v-target/p2v-target.conf
/instance-p2v-target/hooks/install-fixes

/README.html
/doc/*.html

# archives
/ganeti-p2v-transfer-*.tar.gz

# extensions
.*.swp
*.pyc
