# gitignore rules
# autotools results
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autotools
/config.log
/config.status
/configure

/instance-p2v-target/Makefile
/instance-p2v-target/Makefile.in

# built files
/instance-p2v-target/common.sh
/instance-p2v-target/p2v-target.conf

# archives
/instance-p2v-target/ganeti-instance-p2v-target-*.tar.gz

# extensions
.*.swp
*.pyc
